@import 'node_modules/normalize-scss/sass/normalize';
@include normalize();

$container_width: 600px;

@function rhythm($fontsize, $lineheight: 1.4) {
  @return ($lineheight + 0em) / $fontsize + 0em;
}

body{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  width: $container_width;
  margin: 0 auto;
}

h2 {
  font-weight: 400;
  font-size: 2em;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding: rhythm(2)
}

#owners-photo {
  width: $container_width;
}

#profiles-section {
  ul {
    list-style:none;
    padding:0;
    margin:0;
    li {
      float:left;
      width:5em;
      border:3px solid #black
    }
  }
}
