@import '~normalize-styl'
@import 'fonts'

body
  font-family 'Rubik', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 20px
  color $textColor
  background $backgroundColor

img
  vertical-align middle

h1, h2
  font-family 'JetBrains Mono', monospace

p
  line-height 1.7
a
  text-decoration none
  color $accent
  background-image: linear-gradient(transparent 0%, transparent  calc(50% - 1px), $accent  calc(50% - 1px), $accent 100%)
  background-size 100% 200%
  word-break break-word
  padding 2px 0px 1px
  transition background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s
  background-position 0px 0px
  &:hover
    background-position 0px 100%
    color $darkTextColor
a.no-effects, h1 a, h2 a
  background none
  &:hover
    background none

h1, h2, h3, h4, h5, h6
  position relative
  &:hover
    .header-anchor
      color $accent
.header-anchor
  display inline-block
  width 1.2em
  position absolute
  left -1.2em
  top -3px
  color $backgroundColor

.custom-block
  padding .1rem 1.5rem
  margin 1rem 0
  background: rgba(242, 125, 0, 0.1)
.custom-block-title
  font-size .8rem
  text-transform: uppercase
  margin-bottom -.4rem


.content__default
  img
    width 100%


body.dark-theme
  color $darkTextColor
  background $darkBackgroundColor
  .header-anchor
    color $darkBackgroundColor

