@import '~normalize-styl'
@import 'fonts'

body
  font-family 'Rubik', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor

img
  vertical-align middle

h1, h2
  font-family 'JetBrains Mono' monospace

a
  text-decoration none
  color $accent
  background-image linear-gradient(transparent 0%, transparent 50%, rgba(99,183,175,0.35) 50%, rgba(99,183,175,0.35) 100%)
  background-size 100% 200%
  word-break break-word
  padding 2px 0px 1px
  transition background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s
  background-position 0px 0px
  &:hover
    background-image: linear-gradient(transparent 0%, transparent 50%, $accent 50%, $accent 100%)
    color rgb(33, 36, 40)
    background-position 0px 100%
    color $darkTextColor
a.no-effects, h1 a, h2 a
  background none
  &:hover
    background none