$white = rgb(255,255,255)
$grey = rgb(112,112,112)
$lightGrey = rgb(200,200,200)
$darkGrey = rgb(55,55,55)
$accent = rgb(99,183,175)
$primary = rgb(242, 125, 0)
$twitterBrand = rgb(29,161,242)
$githubBrand = rgb(36,41,46)
$devtoBrand = rgb(10,10,10)

$textColor = $grey
$backgroundColor = $white

$darkTextColor = $white
$darkBackgroundColor = $darkGrey
